@font-face {
  font-family: "Marsden_bold";
  src: local("Marsden Hairline"), local("Marsden-Hairline"),
    url("../../asses/font/bold++/Marsden-Medium.woff2") format("woff2");
  /* url("./asses/font/bold++/Marsden-Medium.woff") format("woff"),
    url("./asses/font/bold++/Marsden-Medium.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}
.header {
  font-family: Marsden_light;
  margin: 3rem;
  text-align: center;
}
.feature * {
  transition: 0ms;
}
.feature {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
.feature_item {
  cursor: pointer;
  color: #7a7a7a;
  max-width: 320px;
}
/* S text partition ==================================== */

.feature_item div h2 {
  font-size: 22px;
  font-family: Marsden_bold;
}
.feature_item div p {
  min-height: 80px;
  font-family: Marsden_light;
  padding-bottom: 30px;
}
.feature_item div:hover {
  color: #323232;
}
.feature_item div:active h2 {
  color: #54c0d4;
}

/* S arrow partition ==================================== */
.show_arrow h2 {
  color: #54c0d4;
}
.feature_item .show_arrow {
  position: relative;
}
.feature_item > .show_arrow::after {
  position: absolute;
  font-family: Marsden_light;
  font-size: 50px;
  color: #54c0d4;
  width: 0;
  height: 0;
  margin-top: -20px;
  top: 50%;
}
.feature_item:first-child > .show_arrow::after {
  content: "<";
  right: -30px;
}
.feature_item:last-child > .show_arrow::after {
  content: ">";
  left: -50px;
}

.feature_item:first-child {
  margin-right: 80px;
  text-align: end;
}
.feature_item:last-child {
  margin-left: 70px;
  text-align: start;
}

.video {
  max-width: 340px;
  /* margin-top: 50px; */
}

/* S on screen 1000px partitions ======================== */
@media only screen and (max-width: 1000px) {
  .header h1 {
    font-size: 22px;
  }

  .feature_item div {
    display: none;
  }
  .feature_item {
    cursor: pointer;
    color: #7a7a7a;
    max-width: 100%;
    text-align: center;
    margin: 0;
  }
  .feature_item div p {
    min-height: 30px;
  }
  .feature_item:first-child,
  .feature_item:last-child {
    margin: 0;
    padding: 0;
  }
  .feature_item div p {
    padding: 0px;
  }
  .feature_item .show_arrow {
    order: 0;
    display: block;
    text-align: center;
    /* margin-right: 10px; */
  }
  .feature_video {
    order: 2;
  }
  .feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .feature_item:first-child > .show_arrow::after,
  .feature_item:last-child > .show_arrow::after {
    content: "";
  }
}
